<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rumble" >


    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->

    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
    <!--<permission android:protectionLevel="signature" android:name="com.rumble.permission.C2D_MESSAGE" />-->
    <!--<uses-permission android:name="com.rumble.permission.C2D_MESSAGE" />-->
    <!-- Include following permission if you want to cache images on SD card -->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--persona graph specifics-->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--end persona graph specifics-->


    <application
        android:name="com.rumble.sample.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity
            android:name="com.rumble.sample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rumble.sample.SettingsActivity"
            android:label="@string/app_name" >
        </activity>

        <!--<service-->
            <!--android:name="com.rumble.sdk.core.network.SampleSpiceService"-->
            <!--android:exported="false" />-->
        <service
            android:name="com.octo.android.robospice.UncachedSpiceService"
            android:exported="true" />

    </application>

</manifest>
